streamlit>=1.29.0
openai>=1.6.1
python-dotenv>=1.0.0
pydantic>=2.5.3
pydantic-settings==2.1.0
# PDF Processing Libraries
PyPDF2==3.0.1
pdfplumber==0.10.3
# OCR Libraries
pytesseract==0.3.10
PyMuPDF==1.23.8
pillow>=10.1.0
requests>=2.31.0
together>=1.2.0
